*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: white;
}

.main-wrapper{
  height: 100vh;
}

.logo img{
  margin-right: 20px;
  width: 45px;
}

.logo span{
  font-weight: bold;
  font-size: 30px;
}

main{
  flex-grow: 1;
}


.grid{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.cell{
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: cell;
}

.cell.clicked{
  background-color:rgb(18, 142, 224);
  color: white;
}

.square100{
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.square81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.square49{
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.cell.bomb{
  background-color: rgb(255, 0, 0);
  color: white;
}

.game-wrapper{
  position: relative;
}

.end-game{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}